<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            background-image: url('https://www.bing.com/th?id=OIP.CBF6W7NcFzVQIFoT5TAwVQHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .buttons{
            border: 2px groove black;
            background-color: aquamarine;
            
        
        }
        .label{
            background-color: skyblue;
            border: 2px dotted brown;
            border-radius: 3px;
       
        }
        #headings{
            text-align: center;
            background-color: rgb(191, 123, 191);
            border: 2px solid;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <% if(message_failed.length) { %>
        <div class="alert alert-danger" role="alert">
            <%= message_failed %>
        </div>
    <% } %>
    <% if(message_warning.length) { %>
        <div class="alert alert-warning" role="alert">
            <%= message_warning %>
        </div>
    <% } %>
    <h2 id="headings">Login Page</h2>
    <form action="/postlogin" method="post">
    <div>
        <label for="mail" class="label">Email:</label>
        <input type="email" name="MyEmail" id="MyEmail" required>
    </div>
    <br>
    <div>
        <label for="password" class="label">Password:</label>
        <input type="password" name="MyPassword" id="MyPassword" required>
    </div>
    <br>
    <div>
        <button type="submit" class="buttons" value="Login">Login</button>
    </div>
    </form>
</body>
</html>